body {
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIpBLUhtQwVfafqq5yFI6lGA_x82V7P5purQ&usqp=CAU)

  }
h2{
    color: white;
}

h1{
    color:red;
}
ol{
    color: blueviolet;
}
  ul{
      color: white;
  }